.separation {
  position: relative;
  animation: separation 1500ms ease-in;
  animation-delay: 2500ms;
}

.shaking {
  animation: shake 0.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.hud {
  position: absolute;
  left: 0;
  top: 50px;
}

hr {
  background-color: #fff;
  color: #fff;
  margin: 25px 0;
}

.hud_1 {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  color: #fff;
  opacity: 0.1;
  mix-blend-mode: difference;
  width: 50%;
  transform: scaleX(-1) rotate(90deg);
}

.disNone {
  display: none;
}

.engine__thumb__ctnr {
  justify-content: space-evenly;
  .engine__thumb {
    width: 80px;
  }
}
.engine__thumb {
  width: 110px;
}

.tank {
  border: 2px solid #fff;
  position: relative;
  .tank__line {
    margin-bottom: 10px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  width: 100%;
  .tank__details {
    width: 2px;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .tank__details_inside {
      position: absolute;
      top: 100%;
      width: 10px;
      height: 20px;
      border: 2px solid #fff;
    }
  }
}

.stage__card {
  margin: 3px 0;
  position: relative;
  max-width: 80%;
  .stage__nb {
    position: absolute;
    top: 30%;
    left: -20px;
    font-size: 1.2rem;
  }
  .drop__zone {
    min-height: 100px;
    border: 1px dashed #000;
  }
}

.accordion {
  color: #000;
  display: flex;
  flex-direction: column-reverse;
}
.card {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

.card-body {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
.active_stage {
  background-color: #fff;
  color: #000;
  transition: all 500ms ease-out;
}

p {
  margin: 0.05rem;
}

a {
  color: #fff;
  text-decoration: none;
}

h3 {
  font-size: 20px;
}
h4 {
  margin: 0;
}

.logout {
  position: absolute;
  z-index: 9999;
  color: #000;
}
.logout:hover {
  color: gray;
}
.logout::after {
  width: 100%;
  height: 1px;
  background-color: grey;
  position: relative;
  top: 7px;
  content: "";
  display: block;
}

html {
  font-size: 16px;
  body {
    font-size: 1em;
    overflow-x: hidden;
    color: #fff;
    background-color: #111111;
    font-family: "Messina", sans-serif;
    .app__container {
      .failed {
        width: 100vw;
        height: 100vh;
        background-color: #000;
        position: absolute;
        top: 0;
        transition: opacity 1s ease-out;
        left: 0;
        z-index: 9000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        pointer-events: none;
      }
      .SignUp {
        position: relative;
        z-index: 3000;
      }
      .Login {
        position: relative;
        z-index: 3000;
      }
      .bg__ctnr {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .random__celest__body {
          animation: transform 2s ease-in-out infinite both alternate, movement 2s ease-in-out infinite both;
          position: absolute;
          top: -50px;
        }
        .celest__body_name {
          position: absolute;
          opacity: 0.1;
          bottom: -80px;
          right: -30px;
          font-size: 120px;
        }
      }
      .ship__control {
        margin-top: 50px;
        .ship__overview {
          margin-top: 50px;
        }
        .status__infos {
          position: relative;
          margin-top: 50px;
          z-index: 500;
          transition: all 200ms;
        }
      }
      .builder__container {
        position: relative;
        padding-top: 100px;
        z-index: 100;
        .builder__content__ctnr {
          z-index: 1000;
          position: relative;
        }
        .name__ship {
          font-size: 3em;
        }
        .PartList {
          .partlist_col {
            border-left: 1px solid grey;
          }
          padding-top: 50px;
          .button__add__part {
            border-radius: 0;
          }
          .tank__card {
            .part {
              margin-bottom: 20px;
              padding: 7px 0;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              box-sizing: border-box;
              align-items: center;
              img {
                width: 110px;
                position: relative;
              }
            }
          }
          .EngineList {
            .part {
              margin-top: 25px;
              padding: 7px 0;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              box-sizing: border-box;
              img {
                width: 110px;
              }
            }
          }
          button {
            margin-top: 10px;
          }
        }
        .ship__save__button {
          line-height: 20px;
        }
        .stagesOverview {
          position: relative;
          width: 100%;
          z-index: 100;
          .addstage__button {
            display: flex;
            margin-left: 15px;
            flex-direction: row-reverse;
            position: relative;
            align-items: center;
            h3 {
              margin-left: 15px;
            }
          }
          .rocket__stages {
            flex-direction: column-reverse;
            display: flex;
            justify-content: flex-end;
            margin-top: 50px;
          }
          .builder__tools {
            width: 100%;
            margin-top: 50px;
          }
          .stages {
            margin-top: 50px;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            z-index: 9999;
            .no__active__stage {
              width: 90px;
              height: 90px;
              justify-content: center;
              align-items: center;
              border: 1px solid transparent;
              border-radius: 90px;
              display: flex;
            }
            .active__stage {
              width: 90px;
              height: 90px;
              justify-content: center;
              align-items: center;
              border: 1px solid #fff;
              border-radius: 90px;
              display: flex;
            }
            .stage:hover {
              background-color: grey;
            }
            .stage {
              transition: background-color 100ms ease-in-out;
              cursor: pointer;
              position: relative;
              width: 70px;
              height: 70px;
              border-radius: 70px;
              background-color: #fff;
              color: #000;
              display: flex;
              justify-content: center;
              align-items: center;
              button {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                line-height: 20px;
                top: -7px;
                right: -7px;
              }
            }
          }
          .stage__card {
            .engine__ctnr {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              .engine__name {
                position: relative;
                display: flex;
                flex-direction: column;
              }
              img {
                width: 100px;
              }
              button {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                line-height: 20px;
                top: -7px;
                right: -7px;
              }
            }
            .tank__ctnr {
              button {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                line-height: 20px;
                top: -15px;
                right: -15px;
                position: absolute;
                z-index: 9000;
              }
              .tank__name {
                position: relative;
              }
            }
          }
          .addStage {
            border-radius: 50px;
            font-size: 32px;
            width: 50px;
            height: 50px;
            line-height: 1em;
          }
        }
        .RocketStats {
          padding-top: 50px;
          font-size: 3em;
          margin-left: 10px;
        }
      }
      padding: 50px 5% 0 5%;
      box-sizing: border-box;
      overflow: hidden;
      min-height: 100vh;
      .ship__list {
        mix-blend-mode: difference;
        position: relative;
        z-index: 100;
        margin-top: 100px;
        .ship__card {
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid grey;
          margin: 0 0 25px 0;
          padding-bottom: 10px;
          a {
            text-decoration: none;
            text-decoration: none;
            color: #fff;
          }
          .ship__card__body {
            font-size: 3.2rem;
            line-height: 3.05rem;
            p {
              transition: color 0.2s ease-in-out;
              animation: 0.5s slideIn forwards;
              position: relative;
              left: 0;
            }
            p:hover {
              color: grey;
              text-decoration: none;
            }
            .hnone:hover {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      nav {
        a {
          margin-right: 100px;
        }
      }
      .backgroundHUD {
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0.2;
        overflow: hidden;
      }
      .ship__control {
        position: relative;
        margin-bottom: 50px;
        z-index: 100;
        flex-direction: column-reverse;
        .bg__ctnr {
          height: 100vh;
          top: -100px;
          position: absolute;
          width: 100%;
          align-items: center;
          display: flex;
          justify-content: center;
          z-index: 0;
          .round_bg {
            display: block;
            transition: 10s ease-in-out;
            min-height: 20vh;
            min-width: 20vh;
            background-size: 1600% 1600%;
            transform-origin: 50% 50%;
            transform-style: preserve-3d;
            animation: transform 2s ease-in-out infinite both alternate;
            perspective: 1000px;
            z-index: -100;
            position: absolute;
          }
        }
        display: flex;
        .status__infos {
          h3 {
            font-size: 1.2em;
            margin-bottom: 15px;
          }
          h3::after {
            width: 50%;
            height: 1px;
            background-color: grey;
            position: relative;
            top: 7px;
            content: "";
            display: block;
          }
          .planet__overview {
            margin-bottom: 40px;
          }
          .ship__status {
            margin-bottom: 40px;
          }
        }
        .command__control {
          position: relative;
          margin: 25px 0;
          z-index: 5000;
          height: 100%;
          .from__surface {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .carousel {

          }
          .slide {
            z-index: 1;
            height: 100%;
            display: flex;
          }
        }
        .ship__overview {
          position: relative;
          .tanks__status {
            display: flex;
            flex-direction: column-reverse;
            .rmnful {
              font-size: 1.8rem;
              border-bottom: 1px solid grey;
              padding-bottom: 5px;
              width: 100%;
              margin: 10px 0;
            }
            .fuel__engine {
              display: flex;
              flex-direction: column-reverse;
              align-items: center;
            }
            .extern__fuel__bar {
              width: 97%;
              border-radius: 3px;
              background-color: #e5e5e5;
              height: 17px;
              display: flex;
              justify-content: flex-start;
              margin: 5px 0px 0px 0px;
            }
            .intern__fuel__bar {
              background-color: #6d6d6d;
              height: 100%;
              display: block;
              border-radius: 3px;
            }
            .engine__status {
              display: flex;
              justify-content: center;
              align-items: center;
              .engine__image {
                width: 70px;
              }
            }
          }
        }
        .carousel-inner {
          display: flex;
          align-items: center;
          .carousel-item {
            text-align: center;
            transition: 500ms ease-in-out;
          }
        }
      }
      .planet__overview {
        margin-top: 75px;
      }
    }
  }
}

.solar__system {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  span {
    display: block;
    transition: 10s ease-in-out;
    background-size: 1600% 1600%;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    border-radius: 100%;
    z-index: -100;
  }
  .star {
    position: relative;
    display: flex;
    left: -80px;
    align-items: center;
    .planet {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      .naturalSatelit {
        position: relative;
      }
    }
  }
}

$color: #fff;

h1,
input::-webkit-input-placeholder,
button {
  transition: all 0.3s ease-in-out;
}

h1 {
  height: 100px;
  width: 100%;
  background: darken($color, 4%);
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  h1 {
    box-sizing: border-box;
    padding: 20px;
  }
}

input {
  width: 100%;
  position: relative;
  left: -5px;
  display: block;
  font-size: 20px;
  border: none;
  padding: 20px 0;
  border-bottom: solid 1px $color;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background-color: transparent;
  color: #fff;
  &:focus,
  &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color;
      font-size: 1.2rem;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03a9f4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
  }
  &:hover {
    width: 134px;
    transform: translateX(-50px);
    i {
      margin-right: 10px;
    }
  }
}

.tanks__status {
  .tank__line {
    background-color: #000;
  }
}

.form__ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  border: 1px solid #fff;
  margin: 150px auto;
}
.button {
  flex: 1 1 auto;
  margin: 10px 10px;
  padding: 20px;
  border: 2px solid #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  line-height: 20px;
  transition: 0.3s;
  &:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #fff;
  }
  &:nth-of-type(1):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
    &:nth-of-type(1) {
      color: #000;
    }
    &:nth-of-type(1):after {
      left: -10%;
      width: 120%;
    }
  }
}

.slick-slider {
  width: 100%;
  text-align: center;
  .slick-track {
    display: flex;
    .slick-slide[style] {
    }
    .slick-active {
    }
  }
}

.button_navitation {
  width: 80%;
  margin: 0 auto;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
h3::after {
  width: 100%;
  height: 1px;
  background-color: grey;
  position: relative;
  top: 7px;
  content: "";
  display: block;
}

h4 {
  font-size: 1em;
  margin-bottom: 15px;
}
h4::after {
  width: 50%;
  height: 1px;
  background-color: grey;
  position: relative;
  top: 7px;
  content: "";
  display: block;
}
